{% extends 'partials/base.html.twig' %} 
{% set collection = page.collection() %} 

{% block content %}

<div class="site-content" role="main">
    <div class="story-list">
            {% for post in collection %} {% include 'partials/article.html.twig' %} {% endfor %}
    </div>
</div>

{% include 'partials/coming-soon.html.twig' %} 

{% endblock %}
