{% embed 'partials/base.html.twig' %}

{% block body %}
<body class="page-404">
{% endblock %}

{% block content %}

<div class="site-content" role="main">
    <article class="page">
		<h1 class="post-title">Page Not Found</h1>
		<p>Not quite sure how that happened. Everything is so new here, we must have missed something. Sorry about that.</p>
    </article>
</div>

{% endblock %}


{% block footer %}{% endblock %}


{% endembed %}