{% embed 'partials/base.html.twig' %}

{% block body %}
<body class="page-individual page-{{ page.slug }}">
{% endblock %}

{% block content %}

<div class="site-content" role="main">
    <article class="page">
		{% if page.header.image %}
		<div class="page-photo">
			<img src="{{ page.media[page.header.image].url }}" alt="{{page.title}}">
		</div>
		{% endif %}
        <div class="page-content">
            {{content}}
        </div>
    </article>
</div>

{% endblock %}

{% endembed %}